<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Go Backend Starter Template</title>
    <script
      src="https://unpkg.com/htmx.org@2.0.4"
      integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <h1>Go Backend Starter Template</h1>
    <p>
      This is a starter template for building a backend application using Go
      programming language.
    </p>
    {{ template "index-add-user-button" }} {{ template
    "index-get-users-json-button" }} {{ template "index-get-users-html-button"
    }} {{ template "index-delete-users-button" }}
    <div id="users" hx-swap-oob="true">{{ template "index-user-list" . }}</div>
  </body>
</html>

<!-- Add Users Button -->

{{ define "index-add-user-button" }}
<button
  class="index-button"
  hx-post="/users"
  hx-trigger="click"
  hx-swap="outerHTML"
  hx-disabled-elt=".index-button"
>
  Create User
</button>
{{ if .OOBSwap }}
<div id="users" hx-swap-oob="true">{{ template "index-user-list" .Users }}</div>
{{ end }} {{ end }}

<!-- Get Users JSON button -->

{{ define "index-get-users-json-button" }}
<button
  class="index-button"
  hx-get="/json/users"
  hx-trigger="click"
  hx-swap="none"
  hx-disabled-elt=".index-button"
>
  Get Users (JSON)
</button>
{{ end }}

<!-- Get Users HTML button -->

{{ define "index-get-users-html-button" }}
<button
  class="index-button"
  hx-get="/users"
  hx-trigger="click"
  hx-target="#users"
  hx-swap="innerHTML"
  hx-disabled-elt=".index-button"
>
  Get Users (HTML)
</button>
{{ end }}

<!-- Delete Users button -->

{{ define "index-delete-users-button" }}
<button
  class="index-button"
  hx-delete="/users"
  hx-trigger="click"
  hx-swap="none"
  hx-disabled-elt=".index-button"
>
  Delete Users
</button>
{{ end }}

<!-- List of users -->

{{ define "index-user-list" }}
<ul>
  {{ range . }}
  <li>{{ .Name }}</li>
  {{ end }}
</ul>
{{ end }}

<!---->
