<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Go Backend Starter Template</title>
    <script
      src="https://unpkg.com/htmx.org@2.0.4"
      integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <h1>Go Backend Starter Template</h1>
    <p>
      This is a starter template for building a backend application using Go
      programming language.
    </p>
    {{ template "index-button-add-user" }}
    <button
      class="index-button"
      hx-get="/users?response_type=json"
      hx-trigger="click"
      hx-swap="none"
      hx-disabled-elt="this"
    >
      Get Users (JSON)
    </button>
    <button
      class="index-button"
      hx-get="/users?response_type=html"
      hx-trigger="click"
      hx-target="#users"
      hx-swap="innerHTML"
      hx-disabled-elt="this"
    >
      Get Users (HTML)
    </button>
    <button
      class="index-button"
      hx-delete="/users"
      hx-trigger="click"
      hx-swap="none"
      hx-disabled-elt="this"
    >
      Delete Users
    </button>
    <div id="users" hx-swap-oob="true">{{ template "index-list-users" . }}</div>
  </body>
</html>

<!-- Comments are important to separate partial templates, otherwise they snap together -->
<!-- Button to add new user -->

{{ define "index-button-add-user" }}
<button
  class="index-button"
  hx-post="/users"
  hx-trigger="click"
  hx-swap="outerHTML"
  hx-disabled-elt=".index-button"
>
  Create User
</button>
{{ if .OOBSwap }}
<div id="users" hx-swap-oob="true">
  {{ template "index-list-users" .Users }}
</div>
{{ end }}
<!---->
{{ end }}

<!-- List of users -->

{{ define "index-list-users" }}
<ul>
  {{ range . }}
  <li>{{ .Name }}</li>
  {{ end }}
</ul>
{{ end }}
